@import "_global.scss";

html {
    background-image: url("../assets/gradient-1.jpg");
}

.alert {
    margin-top: 25px;
}

.card {
    background-color: $card-bg-transparent !important;
    backdrop-filter: $card-transparency;
    border-radius: 20px;
    .card-header {
        border-bottom: $card-border !important;
        background-color: transparent !important;
        border-bottom: none !important;
    }
    .card-body {
        padding-top: 0px !important;
    }
    fieldset {
        margin-top: -10px;
        // this one is probably not required, figure out why!
        .f-field {
            background-color: rgba($color: #fff, $alpha: 0.7);
            padding: 5px 15px;
            box-shadow: 0px 5px 10px -4px rgba($color: #000000, $alpha: 0.3);
            border-radius: 15px;
            margin: 10px 0px;
        }
        #remember {
            margin-left: -1.25rem;
        }
        .form-check {
            // margin-top: -20px;
            label {
                cursor: pointer;
                color: $inactive-field !important;
                font-size: 14px;
                &:active {
                    color: $active-field !important;
                }
            }
        }
        .form-group {
            position: relative;
            margin-top: 1rem !important;
            margin-bottom: 0.5rem !important;
            #username {
                text-transform: capitalize;
            }
            .form-control {
                background-color: transparent !important;
                color: $active-field !important;
                border-bottom: 2px solid $inactive-field;
                border-top: none !important;
                border-left: none !important;
                border-right: none !important;
                border-radius: 0px !important;
                padding-left: 0px !important;
                transition: all 0.3s ease;
                ~ .form-control-label {
                    color: $inactive-field;
                    margin-bottom: 0px !important;
                    position: absolute !important;
                    top: 10px !important;
                    left: 0px !important;
                    transition: all 0.3s ease;
                }
                &:focus {
                    border-bottom: 2px solid $active-field;
                    outline: none !important;
                    box-shadow: none;
                    ~ .form-control-label {
                        color: $active-field;
                        font-size: 12px;
                        transform: translateY(-25px);
                    }
                }
                & ~ label.active {
                    font-size: 12px;
                    transform: translateY(-25px);
                }
            }
            .is-invalid {
                border-color: $invalid-field-border !important;
            }
            .invalid-feedback {
                color: $invalid-feedback-color !important;
            }
        }
    }
    small {
        a {
            margin-top: -5px;
            color: $active-field;
            font-weight: 600;
            text-decoration: underline;
            &:focus {
                outline: $focus-outline;
            }
        }
    }
}
