.navigation-bar {
  position: fixed;
  top: 0px;
  z-index: 99;
}
.navigation-bar a.nav-btn {
  border-radius: 0px !important;
}
.navigation-bar a.nav-btn:focus, .navigation-bar a.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.solid-nav {
  background-image: linear-gradient(to bottom right, #320764, #306195);
  box-shadow: 0px 5px 5px rgba(0, 31, 168, 0.384);
}

nav {
  background-color: transparent !important;
  box-shadow: none !important;
}

body {
  /* background-image: linear-gradient(to bottom right, #320764, #306195); */
  background-image: url("../assets/headder 2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.brand-logo {
  margin-top: 0.7%;
}
.brand-logo:focus {
  outline: none;
}

.sidenav {
  padding-top: 20px;
  width: 100%;
  background-image: linear-gradient(to bottom right, #320764, #306195);
  width: 100%;
}

a.sidenav-button,
a.sidenav-close i,
a.nav-btn {
  font-weight: 600;
  color: aliceblue !important;
}

a.sidenav-close {
  text-align: right;
}
a.sidenav-close:focus {
  outline: none;
}

a.active {
  border-bottom: 3px solid aliceblue;
}

.go-back {
  margin: 15px;
}

.signup-card {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px);
  height: 500px;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}
.signup-card form.form {
  margin-top: 25px;
}
.signup-card input {
  color: white;
}
.signup-card .pwd {
  margin-bottom: 0px;
}
.signup-card .pwd-visibility {
  margin-bottom: 30px;
  margin-left: 45px;
}
.signup-card .email {
  margin-top: 25px;
}
.signup-card .helper-text {
  color: rgba(255, 255, 255, 0.35);
}
.signup-card .create-btn {
  background: transparent;
}
.signup-card .create-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}
.signup-card .create-btn:focus {
  outline: 1px dashed rgba(255, 255, 255, 0.5);
}
.signup-card .create-btn:active {
  background: rgba(255, 255, 255, 0.35);
}
.signup-card .agreement span {
  color: rgba(255, 255, 255, 0.7);
}
.signup-card .agreement a {
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: underline;
}
.signup-card .card-actions {
  margin-top: 25px;
}
.signup-card [type=checkbox] + span:not(.lever):before {
  border: 2px solid #ffffff !important;
  border-radius: 3px;
}
.signup-card [type=checkbox]:checked + span:not(.lever):before {
  border-top: 2px solid transparent !important;
  border-left: 2px solid transparent !important;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.signup-card input:not([type]):focus:not([readonly]),
.signup-card input[type=text]:not(.browser-default):focus:not([readonly]),
.signup-card input[type=password]:not(.browser-default):focus:not([readonly]),
.signup-card input[type=email]:not(.browser-default):focus:not([readonly]),
.signup-card input[type=url]:not(.browser-default):focus:not([readonly]),
.signup-card input[type=time]:not(.browser-default):focus:not([readonly]),
.signup-card input[type=date]:not(.browser-default):focus:not([readonly]),
.signup-card input[type=datetime]:not(.browser-default):focus:not([readonly]),
.signup-card input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
.signup-card input[type=tel]:not(.browser-default):focus:not([readonly]),
.signup-card input[type=number]:not(.browser-default):focus:not([readonly]),
.signup-card input[type=search]:not(.browser-default):focus:not([readonly]),
.signup-card textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffffff;
  -webkit-box-shadow: 0 1px 0 0 #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}

/*# sourceMappingURL=built_styles.css.map */
