{% extends "main.html" %}


{% block page_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock page_css %}

{% block nav_links%}
<li class="nav-item active">
  <a class="nav-link" href="{{url_for('home')}}">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Services</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url_for('login')}}">Login</a>
</li>
<li class="nav-item">
  <a class="nav-link" href=" {{url_for('register')}} ">Register</a>
</li>
{% endblock nav_links %}

{% block home_content %}
<p class="text-white">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis tellus id diam ullamcorper gravida. Donec lectus
  nisi, porta et aliquam in, auctor at lacus. Integer in mauris mauris. Mauris maximus purus ac mi hendrerit, at
  vehicula lacus rutrum. Suspendisse interdum metus vel quam fermentum placerat. Pellentesque consectetur, orci sed
  rutrum tincidunt, turpis nulla vehicula massa, quis cursus nisl purus sit amet dolor. Nulla bibendum ligula sit amet
  nisl malesuada maximus. In sed lacus eget dui tempor auctor.

  Fusce hendrerit dolor at pretium consequat. In hac habitasse platea dictumst. Integer id urna velit. Nulla facilisis
  interdum nisl vel facilisis. Sed non ante eu ex egestas vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Phasellus vitae pellentesque augue, eget faucibus turpis. Integer egestas fermentum nulla, vitae scelerisque
  purus varius nec. Etiam at posuere est.

  Praesent dignissim ex vitae justo sagittis sagittis. Curabitur sed leo quis augue placerat faucibus vel et diam.
  Curabitur nec augue velit. Vivamus eget tincidunt sapien. Suspendisse auctor aliquet nibh non ultricies. Phasellus non
  cursus velit, a bibendum felis. Vivamus ac laoreet tellus. Curabitur et interdum mi. Aenean nec enim mattis, gravida
  velit vitae, sollicitudin quam. In nec magna quis ante sodales lobortis. Nam sagittis fermentum tellus, quis fermentum
  sapien. Vestibulum ipsum arcu, ultricies a mi nec, gravida vestibulum nisi. Curabitur ornare odio at faucibus aliquet.
  Proin ac facilisis justo, ac tempor neque. Nulla facilisi. Mauris quis finibus sem.

  Phasellus dignissim metus ut mattis iaculis. Maecenas augue risus, ultricies ut posuere eu, bibendum quis augue.
  Quisque ac magna in est placerat interdum. Aenean rutrum eros risus, a molestie dui ultrices sed. Nunc elementum
  eleifend dapibus. Phasellus viverra feugiat faucibus. Nulla rhoncus tellus sapien, eu aliquet ipsum viverra non.
  Vivamus eu efficitur mauris. Ut id turpis eros. In ullamcorper, ex eu faucibus egestas, nunc enim molestie eros, in
  aliquam tortor sem in felis. Proin sed ullamcorper dolor.

  Duis in tellus viverra, posuere lectus id, maximus felis. Duis nec malesuada erat. Quisque consequat augue a magna
  viverra feugiat. Mauris at tortor vitae eros ultrices convallis nec ac tortor. Proin tristique turpis sed tincidunt
  rhoncus. Nunc a pulvinar orci. Nulla pretium neque ut porttitor porttitor.

  Nunc feugiat aliquam metus eu iaculis. Donec sit amet facilisis metus. Proin sed risus a ligula sodales imperdiet vel
  sed dui. Phasellus quis finibus odio. Etiam rutrum molestie lacinia. Sed ut hendrerit elit. Nulla iaculis lacinia
  dapibus. In nec ornare nisi, sed aliquet lectus. Suspendisse posuere velit enim, sit amet scelerisque eros vulputate
  in. Duis odio dolor, gravida ut magna in, dignissim bibendum leo. Aenean quis libero pretium, aliquet neque vitae,
  volutpat neque. Nam vitae felis et magna accumsan lacinia. Ut eu semper metus. Morbi feugiat feugiat sem eu commodo.
  In in iaculis eros. Integer rutrum nec quam imperdiet rhoncus.

  Aliquam condimentum ac felis vel mattis. Nulla sodales egestas est, eget lobortis lectus volutpat nec. Donec at dictum
  massa. Donec nibh justo, suscipit vel finibus id, malesuada vitae felis. In leo justo, condimentum ac efficitur at,
  convallis in massa. In nec diam lectus. Donec pretium ligula vel lacus laoreet, a viverra nibh pellentesque. Etiam non
  eros ac nisl interdum fringilla. Nam porttitor, neque quis efficitur faucibus, erat risus rhoncus lorem, in placerat
  augue neque vitae sapien. Ut diam nunc, vulputate eu mollis sit amet, vulputate id magna. Morbi vehicula tincidunt
  tortor vehicula bibendum. Nullam ut leo pharetra, auctor dolor eget, aliquet sapien. Mauris nulla magna, porttitor
  quis tincidunt ut, tincidunt eget nunc. Donec scelerisque lacinia eleifend.

  Mauris vestibulum enim pellentesque ex vulputate volutpat. Fusce venenatis at est eu posuere. Orci varius natoque
  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Orci varius natoque penatibus et magnis dis
  parturient montes, nascetur ridiculus mus. Nullam placerat laoreet ligula. Nullam aliquam rhoncus ex vel faucibus. In
  felis elit, fermentum sed felis ut, ullamcorper scelerisque magna. Vestibulum commodo erat vel condimentum malesuada.
  Sed cursus, lorem nec pulvinar porttitor, nunc odio tincidunt neque, luctus consequat elit felis non est. Curabitur
  iaculis mi nec posuere laoreet.

  Morbi eget libero eget magna scelerisque aliquet. Proin neque orci, cursus ac gravida quis, malesuada eu risus.
  Curabitur sit amet luctus elit, eget vehicula lectus. Maecenas at fermentum nisl, at bibendum mauris. Quisque
  ullamcorper interdum posuere. Ut dignissim lorem ut velit dapibus, a accumsan metus aliquam. Fusce feugiat lorem id
  aliquet convallis. Aenean at hendrerit orci. Nunc scelerisque eros eget orci pretium, in luctus velit faucibus. Aenean
  in diam sit amet odio efficitur varius consequat at nulla.

  Maecenas ac arcu ut erat blandit convallis nec vitae ligula. Aliquam justo purus, pellentesque sagittis iaculis nec,
  tempus ac urna. Morbi ultricies varius ultricies. Etiam congue rutrum ante bibendum gravida. Sed auctor felis quis
  ante venenatis placerat. Aliquam fermentum, orci nec consectetur tristique, libero enim pharetra ipsum, vitae auctor
  orci ex eu ligula. Aenean malesuada blandit sem non blandit. Integer iaculis enim augue, sit amet ullamcorper quam
  bibendum id. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ornare
  molestie efficitur.

  Pellentesque volutpat enim vitae rutrum porttitor. Integer fringilla faucibus tempus. Mauris dictum nisi ut lorem
  sagittis, at lacinia lectus aliquam. Pellentesque lobortis magna ac lacus lacinia, a volutpat magna tristique.
  Curabitur et eleifend ligula, id malesuada odio. Praesent pretium felis nec turpis tristique, et ultrices leo dictum.
  Proin id nisi in quam pharetra feugiat. Sed venenatis rutrum molestie. Mauris dictum euismod ipsum et sollicitudin.
  Nullam rhoncus purus ac scelerisque finibus. Praesent placerat diam eros, eget hendrerit turpis faucibus a. Duis
  eleifend, purus a ornare placerat, lectus metus imperdiet risus, in posuere leo massa nec est. Pellentesque congue
  dignissim mollis. Etiam ac viverra lectus. Vestibulum a tincidunt metus.

  Proin quis lacus ut tortor congue ornare sed ac dolor. Aenean pellentesque, justo vel lacinia semper, erat odio
  sodales erat, in cursus neque neque nec magna. Cras fermentum, eros non venenatis pellentesque, eros magna hendrerit
  dolor, vel bibendum massa turpis id lorem. Nam ante tortor, dignissim eu accumsan at, sodales sed urna. Mauris dapibus
  enim erat, vitae volutpat nulla interdum sed. Suspendisse blandit dui lectus, nec laoreet orci fermentum vitae. Cras
  fermentum fermentum lacus sodales hendrerit. Nam aliquam non orci eu sagittis. Pellentesque dapibus, nisl id dictum
  consequat, nulla tortor cursus lacus, at tempor sem nisi quis ligula. Aliquam a tempus libero, quis vehicula ligula.
  Donec ac eros tincidunt, dapibus neque dapibus, fermentum est. Curabitur eleifend vel dolor eu rhoncus. In mollis
  mollis feugiat. Integer id odio aliquet augue fringilla vestibulum posuere vel tellus. Duis nec convallis libero, eu
  varius augue.

  Generated 12 paragraphs, 1066 words, 7240 bytes of Lorem Ipsum
</p>
{% endblock %}