{% extends 'main.html' %}
{% block page_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
{% endblock page_css %}

{% block nav_links%}
<li class="nav-item">
  <a class="nav-link" href="{{url_for('home')}}">Home</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{{url_for('login')}}">Login</a>
</li>
<li class="nav-item">
  <a class="nav-link" href=" {{url_for('register')}} ">Register</a>
</li>
{% endblock nav_links %}

{% block form %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}}">{{message}}</div>
      {% endfor %}
      {% if category == 'success' %}
      <p class="text-white">You can now login using your <em>E-mail</em> and <em>Password.</em></p>
      {% endif %}
      {% endif %}
      {% endwith %}
      <!-- Login-Card -->
      <div class="card text-white">
        <div class="card-header">
          <h3>Login. . .</h3>
        </div>
        <div class="card-body">
          <form action="" method="post">
            {{form.hidden_tag()}}
            <fieldset>
              <div class="form-group">
                {% if form.email.errors %}
                {{form.email(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                  <span>✘&nbsp;{{error}}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{form.email(class="form-control")}}
                {% endif %}
                {{form.email.label(class="form-control-label")}}
              </div>
  
              <div class="form-group">
                {% if form.password.errors %}
                {{form.password(class="form-control is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                  <span>✘&nbsp;{{error}}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{form.password(class="form-control")}}
                {% endif %}
                {{form.password.label(class="form-control-label")}}
              </div>
  
              <div class="form-check">
                {{form.remember(class="form-cleck-input")}}
                {{form.remember.label(class="form-check-label")}}
              </div>
            </fieldset>
            <div class="form-group mt-4">
              <div class="mr-2">{{form.submit(class="btn btn-success btn-shadow")}}</div>
            </div>
          </form>
          <div class="border-top pt-3">
            <small><a href="#">Forgot password?</a></small>
          </div>
          <small class="ml-auto">New Member?<a href="{{url_for('register')}}" class="ml-2">Sign Up Now!</a></small>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock form %}

{% block page_script %}
<script src="{{url_for('static', filename='/js/form.js')}}"></script>
{% endblock %}