<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/materialize/css/materialize.min.css"
        media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../static/css/scrollbar.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/built_styles.css" />
    <title>Sign Up</title>
</head>

<body>
    <div class="go-back">
        <button class="waves-effect waves-light waves-ripple btn-floating teal">
            <a href="/"><i class="material-icons">keyboard_arrow_left</i></a>
        </button>
    </div>

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card z-depth-3 signup-card">
                <div class="card-content white-text">
                    <span class="card-title">Sign-Up to explore all Features!</span>
                    <form action="" class="form">
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <!-- <i class="material-icons prefix">account_circle</i> -->
                                <input id="first_name" type="text" class="validate" required>
                                <label for="first_name">First Name</label>
                                <span class="helper-text" data-error="Name is Required!"></span>
                            </div>
                            <div class="input-field col s12 m6">
                                <!-- <i class="material-icons prefix">account_circle</i> -->
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">phone</i>
                            <input id="ph_no" type="text" class="validate" maxlength="10" minlength="10" required>
                            <label for="ph_no">Phone</label>
                            <span class="helper-text" data-error="Phone number is Required!"></span>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">security</i>
                            <input id="password" type="password" class="validate" required>
                            <label for="password">Password</label>
                            <span class="helper-text" data-error="Password"></span>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">mail</i>
                            <input id="email" type="email" class="validate">
                            <label for="email">E-Mail ID</label>
                            <span class="helper-text" data-error="This is not a valid email ID">(optional)</span>
                        </div>
                        <label class="agreement">
                            <input type="checkbox" class="white" name="tnc" id="tnc" required>
                            <span>I agree to the <a href="#" target="_blank">Terms and Conditions</a> of Using the
                                services provided on this platform.</span>
                        </label>
                        <div class="card-actions">
                            <button type="submit" class="btn-flat white-text create-btn">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <script src="../static/materialize/js/materialize.min.js"></script>
</body>

</html>