$card-bg-transparent: rgba(255, 255, 255, 0.2);
$card-border: 1px solid rgba(0, 0, 0, 0.15);
$card-border-show: 2px solid rgba(255, 255, 255, 0.2);
$card-transparency: blur(15px);
$invalid-feedback-color: #000000a1;
$invalid-field-border: #f50019;
$inactive-field: #ffffff8a;
$active-field: #ffffffff;
$focus-outline: 1px dashed $inactive-field;
$card-shadow-color: rgba($color: #000000, $alpha: 0.3); 

html {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    background-color: transparent !important;
}

nav.navbar {
    position: fixed !important;
    top: 0px !important;
    z-index: 10 !important;
    width: 100%;
    background-color: $card-bg-transparent !important;
    backdrop-filter: blur(15px);
    border-bottom: $card-border;
    .navbar-brand:focus,
    .navbar-toggler:focus,
    .nav-link:focus {
        outline: $focus-outline !important;
    }
    .nav-link {
        padding: 8px 12px;
        margin: 0px 14px;
        font-weight: 600;
        border-radius: 5px;
        text-transform: uppercase;
    }
    .active {
        border-bottom: 2px solid black;
    }
}

main {
    position: fixed;
    top: 56px;
    height: calc(100vh - 56px);
    width: 100%;
    overflow: auto;
}


.card-light-tr {
    border-top: $card-border-show;
    border-right: $card-border-show;
    border-bottom: transparent;
    border-left: transparent;
    box-shadow: -10px 10px 15px -10px $card-shadow-color;
}

.card-light-tl {
    border-top: $card-border-show;
    border-right: transparent;
    border-bottom: transparent;
    border-left: $card-border-show;
    box-shadow: 10px 10px 15px -10px $card-shadow-color;
}

.card-light-br {
    border-top: transparent;
    border-right: $card-border-show;
    border-bottom: $card-border-show;
    border-left: transparent;
    box-shadow: -10px -10px 15px -10px $card-shadow-color;
}

.card-light-bl {
    border-top: transparent;
    border-right: transparent;
    border-bottom: $card-border-show;
    border-left: $card-border-show;
    box-shadow: 10px -10px 15px -10px $card-shadow-color;
}

.btn {
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 8px;
    border-color: transparent !important;
    box-shadow: 0px 8px 10px -4px rgba($color: #000000, $alpha: 0.4);
    &:focus {
        box-shadow: none !important;
        outline: $focus-outline;
    }
}
.btn-success {
    background-color: black;
    color: white;
    &:hover {
        background-color: white;
        color: black;
    }
    &:active {
        box-shadow: 0px 2px 10px -4px rgba($color: #000000, $alpha: 0.4) !important;
        background-color: white !important;
        color: black !important;
        border: 1px solid black;
    }
}
.btn-info {
    background-color: white;
    color: black;
    &:hover {
        background-color: black;
        color: white;
    }
    &:active {
        box-shadow: 0px 2px 10px -4px rgba($color: #000000, $alpha: 0.4) !important;
        background-color: black !important;
        color: white !important;
        border: 1px solid white;
    }
}