@import '_global.scss';

html {
    background-image: url("../assets/headder\ 2.jpg");
}

.alert {
    margin-top: 25px;
}

.card {
    background-color: $card-bg-transparent !important;
    backdrop-filter: $card-transparency;
    border: $card-border !important;
    margin-top: 25px;
    .card-header {
        border-bottom: $card-border !important;
        background-color: transparent !important;
    }
    .card-body {
        padding-top: 0px !important;
    }
    fieldset {
        margin-top: -10px;
        // this one is probably not required, figure out why!
        #remember {
            margin-left: -1.25rem;
        }
        .form-check {
            margin-top: -20px;
            label {
                cursor: pointer;
                color: $inactive-field !important;
                font-size: 14px;
                &:active {
                    color: white !important;
                }
            }
        }
        .form-group {
            position: relative;
            margin-bottom: 1.5rem !important;
            .form-control {
                margin-top: 40px;
                background-color: transparent !important;
                color: white !important;
                border-bottom: 2px solid $inactive-field;
                border-top: none !important;
                border-left: none !important;
                border-right: none !important;
                border-radius: 0px !important;
                padding-left: 0px !important;
                transition: all 0.3s ease;
                ~ .form-control-label {
                    color: $inactive-field;
                    margin-bottom: 0px !important;
                    position: absolute !important;
                    top: 10px !important;
                    left: 0px !important;
                    transition: all 0.3s ease;
                }
                &:focus {
                    border-bottom: 2px solid white;
                    outline: none !important;
                    box-shadow: none;
                    ~ .form-control-label {
                        color: white;
                        font-size: 12px;
                        transform: translateY(-25px);
                    }
                }
                & ~ label.active {
                    font-size: 12px;
                    transform: translateY(-25px);
                }
            }
            .is-invalid {
                border-color: $invalid-feedback-color !important;
            }
            .invalid-feedback {
                color: $invalid-feedback-color !important;
            }
        }
    }
    .btn {
        margin-top: 20px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    small a {
        color: white;
        font-weight: 600;
        text-decoration: underline;
        &:focus {
            outline: $focus-outline;
        }
    }
}
